	/* main page divs */
	
	:root { /* a few variables */
		--selectionBgColor: white;
		--selectionHoverColor: #057bfa;
		--selectionWidth: 15%;
		--selectionTransTime: 0.3s;
	}

	body {
		justify-content: center;
		align-items: center;
		background-color: #303030;
    }


	a:link{
		color:#000000;
	}

	a:hover{
		color:white;
	}

	a#title{
		color: black;
	}

	a#title:hover{
		color:black;
	}

	p#title{
		font-family:monospace;
		font-size: 24px;
	}

	h1 {
		font-weight: bold;
		font-size: 32px;
		font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	}

	h1:hover{
		
		text-decoration: underline;
	}

	
	.bluebox { /* main box with animation thingy */
		background-color: #0062ff;
		text-align: center;
		margin: -8px;
		margin-bottom: 2px;
		padding-top: 10px;
		padding-bottom: 10px;
		font-family:'Lucida console';
		color:white;
		font-size: 32px;
	}


	.mainbox {
		margin:2% auto;
		margin-left: 5%;
		background-color:#ffffff;
		width:50%;
		text-align:left;
		padding:1%;
		float: left;
		z-index: 30;
		position:absolute;

		}

	.mainbox#center{
		text-align:center;
		float:left;
		width:100%;
	}

	.selectionWrapper {
		background-color: rgb(80, 80, 80);
		text-align: center;
		width: 105%;
		margin-left: -8px;
		overflow: auto;

	}

	.selection {
		display: inline-block;
		transition: var(--selectionTransTime);
		background-color: var(--selectionBgColor);
		width: var(--selectionWidth);
		font-family:'Lucida console';
		border: 2px solid rgb(81, 81, 255);
		font-size: 20px;

	}

	.selection:hover {
		transition: var(--selectionTransTime);
		background-color: var(--selectionHoverColor);
		color: white;
	}
/*
	.selSecond {
		transition: var(--selectionTransTime);
		display: inline-block;
		background-color: var(--selectionBgColor);
		width: var(--selectionWidth);
		
		font-family:'Lucida console';
		border: 2px solid rgb(81, 81, 255);
		
	}
	
	.selSecond:hover {
		transition: var(--selectionTransTime);
		background-color: var(--selectionHoverColor);
		color: white;
	}

	.selThird {
		transition: var(--selectionTransTime);
		display: inline-block;
		background-color: var(--selectionBgColor);
		width: var(--selectionWidth);

		font-family:'Lucida console';
		border: 2px solid rgb(81, 81, 255);
	}

	.selThird:hover {
		transition: var(--selectionTransTime);
		background-color: var(--selectionHoverColor);
		color: white;
	}
*/
	
	.mainbox_grey {
		margin: 0px auto;
		width: 70%;
		background-color:#ffffff;
		text-align:center;
		padding:8px;
		word-break: break-all;
		float: right;
		
	}

	.redbox {
		margin: auto;
		text-align: center;
		background-color: #c90000;
		width:60%;
		padding: 5px;
		font-family:'Arial black';
		
	}
	
	.sussybox { /* yeh i know great name */
		margin: 60px auto;
		
		text-align: center;
		background-color: #c90000;
		width:20%;
		padding: 7px;
		font-family:'Arial black';
		word-break: break-all;
		
	}
	

	.greybox {
		
		text-align: right;
		background-color: null;
		color: white;
		margin-top:3%;
		padding: 0px;
		width: 88%;
		position:absolute;
		z-index: 10;
		float:right;
		
		
	}


	.mainbox_blue {
		transition: 1s;
		background-color:#0000FF;		
	}
	

	/* about page stuff  */

	.blueabout {
		background-color: #0062ff;
		text-align: center;
		margin: 10px;
		padding-top: 10px;
		padding-bottom: 5px;
		font-family:'Lucida console';
		color:white;
		font-size: 64px;
	}
	
	.mainbox_aboutpage {
		margin:10px auto;
		background-color:#057bfa;
		width:65%;
		height: 90px;
		text-align:center;
		padding:2px;
		
		
	}

	.aboutbox {
		margin: 0px auto;
		width: 85%;
		background-color:#ffffff93;
		text-align:center;
		padding:8px;
		word-break: break-all;
		
	}

	.pictureframe {
		margin: 0px auto;
		width: 50%;
		background-color:#000000;
		text-align:center;
		padding:8px;
		
	}
	
	.pictureframe2 {
		margin: 0px auto;
		width: 10%;
		background-color:#000442;
		text-align:center;
		padding:8px;
		
	}

	/*   Beginning of paragraph stuff    */

	.p1 {
		font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

	}